In [136]:
import urllib3
import facebook
import requests
import pandas as pd
import datetime
import os.path
from os import path

In [137]:
token = 'EAAgOQRZBhF5oBANWZCJnVoWtJ0mnQmdZAKzIIz3jpEvNAb30zT8dygUWDYdxhZAZCU7eZA3do7G8wxOWqzATsnk9Qq7rv4H7u4EBZBuMJ2RaTtFmg17RUaC8VNcYFNcyG9v5mztJ9sIrjMVPAzk7cFisEYVkqFpGuDqUjBqBht9nwZDZD'
user = '100002345472592'

In [138]:
graph = facebook.GraphAPI(access_token=token, version = 2.8)
events = graph.request('me?fields=birthday')

args = {'fields' : 'birthday,gender' }

friends = graph.get_object("me",**args)

In [139]:
print(friends)

{'birthday': '09/18/1997', 'gender': 'female', 'id': '2290246267730200'}

In [140]:
print(events)

{'birthday': '09/18/1997', 'id': '2290246267730200'}

In [141]:
friends['birthday']

'09/18/1997'

In [142]:
birthday = requests.get('https://graph.facebook.com/v2.7/' + 'me?fields=name,email,gender,birthday&access_token='+token)

In [143]:
birthday_json = birthday.json() #parses json and returns dict

In [144]:
birthday_json

{'name': 'Poorvi Acharya',
 'email': 'poorvi.acharya@gmail.com',
 'gender': 'female',
 'birthday': '09/18/1997',
 'id': '2290246267730200'}

In [145]:
birthday

In [146]:
df = pd.DataFrame.from_dict(birthday_json, orient='index')

In [147]:
df = pd.DataFrame.transpose(df)

In [148]:
df['Date'] = datetime.datetime.today().strftime('%Y-%m-%d')

In [149]:
df

,name,email,gender,birthday,id,Date
0,Poorvi Acharya,poorvi.acharya@gmail.com,female,09/18/1997,2290246267730200,2019-06-13

In [150]:
if (path.exists("result.csv")):
    print("true")
    olddf = pd.read_csv('result.csv')
    olddf.drop(olddf.columns[olddf.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)
    # oldDate = olddf['Date']
    # oldDate[0] = "2019-06-10"
    olddf.tail(1)['Date'].iloc[-1] = "2019-06-10"
    
    if olddf.tail(1)['Date'].iloc[-1] != datetime.datetime.today().strftime('%Y-%m-%d'):
#         df['Date'] = datetime.datetime.today().strftime('%Y-%m-%d')
        df = pd.concat([olddf, df])

true

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [151]:
df.drop(df.columns[df.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)
df.to_csv("result.csv")

In [152]:
df

,name,email,gender,birthday,id,Date
0,Poorvi Acharya,poorvi.acharya@gmail.com,female,09/18/1997,2290246267730200,2019-06-10
1,Poorvi Acharya,poorvi.acharya@gmail.com,female,09/18/1997,2290246267730200,2019-06-10
0,Poorvi Acharya,poorvi.acharya@gmail.com,female,09/18/1997,2290246267730200,2019-06-13

In [156]:
datetime.datetime.today().replace(day=(datetime.datetime.today().day-1)).strftime('%Y-%m-%d')

'2019-06-12'

12